*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 50px;
    text-transform: uppercase;
    overflow: hidden;
}
h2 span{
    display: inline-block;
}