*{
    margin:0 px;
    padding:0 px;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: #fbf0f0;
}        
#box{
    width: 100px;
    height: 100px;
    background-color: #abcade;
}
#nav{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
/* h4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
} */
 #part2  {
    display: flex;
    gap:50px
 }