*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height:100%;
  background-color: black;
}
.outer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box{
  width:120px;
  height:120px;
  background-color: rgb(78, 72, 78);
  border-radius: 10px;
}