*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
}
body{
    overflow-x: hidden;
}
#main{
    width:100%;
    height:100vh;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1662664577403-59cd3ad5fb24?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
#nav i{
    font-size: 30px;
    font-weight: 30;
    cursor: pointer;
}
#nav h2{
    font-size: 30px;
}
#full{
    height: 100%;
    width: 40%;
    background-color: rgba(213, 213, 213, 0.391);
    position: absolute;
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
     padding: 100px 90px;
}
h4{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}
#full i{
    font-size: 22px;
    font-weight: 170;
    background-color: white;
    border-radius: 50%;
    top:1%;
    left:1%;
    position: absolute;
    cursor: pointer;
}
