*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: black;
}
#main{ 
    width: 100%;
    height:100%;

}
#cursor{
    width:10px;
    height:10px;
    background-color: yellow;
    border-radius: 50%;
}