*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
    background-color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: thistle;
    font-size: 45px;
    font-style: italic;
    text-transform: uppercase;
    overflow: hidden;
}

